# <center>  Python for biologists

## Notes 1, Data types


> Nikita Vaulin, vaulin@ro.ru, tg: @nvaulin

***Notion 0***. Feel free to start using shortcuts when working with Jupyter Notebook:
- To run the cell `Ctrl`+`Enter`
- To run the cell and step to the next one `Shift` + `Enter`
- To run the cell and create the new one `Alt` + `Enter`

There are two modes of action: cell-editing (the line on the left is green) and cell-selecting (the line on the left is blue). 

- cell-editing mode &#8594; `Esc` &#8594; cell-selecting mode
- cell-selecting mode &#8594; `Enter` &#8594; cell-editing mode

In cell-selecting mode you can:

- Delete  a cell - `DD`
- Undo deleting - `Z`

### <center> Let's move on!

---

## Main data types

*   Integer numbers (`int`)
*   Real numbers (`float`)
*   Complex numbers (`complex`)
*   Logic (`bool`) 
*   Text (`str`)

## Useful functions

*   `type()` - shows the type of an object
*   `id()` - shows memory adress where object is stored. We are not interested in the adress itself, but we can compare adresses to analyse objects
* `is` - comapares two objets. Particulary, `a is b` means `id(a) == id(b)` (this objects are actually the same object in memory)

## Integers

In [15]:
type(1000)

int

Negative integers are integers as well!

In [18]:
type(-1)

int

## Floating-point numbers

In [20]:
type(1.1)

float

All standard operations can be applied to the numbers:

In [55]:
a = 5
b = 2

print(f'{a + b = }') # addition
print(f'{a - b = }') # substration
print(f'{a * b = }')  # multiplication
print(f'{a / b = }') # division
print(f'{a // b = }') # integer division 
print(f'{a % b = }') # division reminder
print(f'{a ** b = }') # exponentiation
print(f'{a ^ b = }') # NOT exponentiation! (it is bitwise exclusive 'or', we will not use it)

a + b = 7
a - b = 3
a * b = 10
a / b = 2.5
a // b = 2
a % b = 1
a ** b = 25
a ^ b = 7

In [52]:
1.0 % 2.0

1.0

## Complex numbers

In [63]:
type(1 + 2j)

complex

Note! `j` is not a multiplier, it is a special syntax for imagine part:

In [67]:
type(1 + 2*j)

NameError: name 'j' is not defined

All operartions are like in the complex analysis:

In [73]:
a = 1 + 2j
b = 2 - 3j
c = 1 - 2j
print(f'{a + b = }')
print(f'{a + c = }')
print(f'{a / b = }')

a + b = (3-1j)
a + c = (2+0j)
a / b = (-0.30769230769230776+0.5384615384615384j)

## Boolean

In [79]:
True and True is True == True or True # don't try to understand what's going on ))

True

In [82]:
type(False)

bool

Operations with boolean objects:
* `and`
* `or`
* `not`

Comparisons:
*   `==` equality check
*   `>` greater than
*   `<` less than
*   `>=` greater than or equal
*   `<=` less than or equal
*   `!=` NONequality check

This objects are also `True`:
* Non-zero number
* Non-empty string or collection or other empty object

This objects are also `False`:
* 0
* None
* Empty string, collection or other empty objects

In [278]:
bool('False') # because non-empty string

True

In [280]:
bool([])

False

In [281]:
bool(None)

False

Boolean objects are used in ***conditions***:

In [170]:
if 5 > 2:
    print('Хочу пятерку')

Хочу пятерку

**Do NOT** write like this:

In [173]:
if (5 > 2) == True:
    print('Хочу пятерку')

Хочу пятерку

We can add `else` as well

In [135]:
if 'ИБ' == 'любовь':
    print('всё верно')
else:    
    print('ничего питон не понимает в жизни')

ничего питон не понимает в жизни

> Можно сжать всё немного покороче:

In [126]:
if 5 > 2: print('Хочу пятерку')

Хочу пятерку

In [134]:
if 'ИБ' == 'любовь': print('всё верно') 
else: print('ничего питон не понимает в жизни')

ничего питон не понимает в жизни

> А можно еще короче (называется "тернарый оператор")

In [133]:
print('всё верно') if 'ИБ' == 'любовь' else print('ничего питон не понимает в жизни')

ничего питон не понимает в жизни

In [123]:
homework = 'Какая домашка? Вы о чём?'

if homework == 'done' or homework == 'ready':
    print('Great job!')
elif homework == 'in progress': # don't forget :
    print('Here we go!')
else:
    print('Я всё равно в тебя верю!')

Я всё равно в тебя верю!

## Strings

In [96]:
type('text')

str

In [93]:
greeting = 'Hello'
language = 'python'
greeting + ', ' + language # concatenation

'Hello, python'

In [95]:
language + 3.0 # the operation is impossible

TypeError: can only concatenate str (not "int") to str

In [97]:
language + str(3.0)

'python3.0'

But we can use multiplication to amplify strings

In [107]:
'_'*3

'___'

There are some useful string methods:

In [9]:
string = 'Python, python'
print(f'{string.upper() = }')
print(f'{string.lower() = }')
print(f'{string.split() = }')
print(f'{string.split(", ") = }')
print(f'{string.swapcase() = }')
print(f'{string.capitalize() = }')
print(f'{string.isalpha() = }') # check for only letters
print(f'{string.isdigit() = }') # check for only numbers
print(f'{string.isalnum() = }') # isalhpa + isdigit
print(f'{string.startswith("Python") = }')
print(f'{string.endswith("python") = }')

string.upper() = 'PYTHON, PYTHON'
string.lower() = 'python, python'
string.split() = ['Python,', 'python']
string.split(", ") = ['Python', 'python']
string.swapcase() = 'pYTHON, PYTHON'
string.capitalize() = 'Python, python'
string.isalpha() = False
string.isdigit() = False
string.isalnum() = False
string.startswith("Python") = True
string.endswith("python") = True

In [121]:
if 'You'.isalpha():
    print('You is alpha')

You is alpha

## Collections

### Tuple (кортеж)

Tuple is a baseline collection (like an `array` in `C/C++`). It can store different objects togewther.

In [153]:
a = (1, 'string', True, 10000)
b = (1, 'string', True, 10000)

id(a) == id(b) # they are two different tuples combined in different parts of your PC memory

False

We can take some elements by index

In [155]:
a[0]

1

In [156]:
id(a[0]) == id(b[0]) # but the `1` is the same one for both tuples

True

In [165]:
id(a[3]) == id(b[3]) # the `10000` is different for this tuples (if you are lost here - write me or ask at lecture)

False

#### Slices

`[1 : 2 : 3]`

* `1` = start
* `2` = end (if exists)
* `3` = step (if exists)

In [158]:
a[1:3] # start to end

('string', True)

In [159]:
a[1:] # start to .... very end

('string', True, 10000)

In [163]:
a[:-1] # minus is for indexing from the end

(1, 'string', True)

In [257]:
a[::2] # only with the step of 2

(1, 2)

We can concatenate tuples (which makes a new tuple):

In [258]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

### List (список)

List is a additional collection that allow elements modification: addition, removing and replacement (like a ` dynamic array` in `C/C++`).

In [235]:
a = [1, 2, 'True']

In [236]:
a[2]

'True'

In [237]:
a[2] = True
a[2]

True

In [238]:
b = (1, 3, 'True')
b[2] = True # Error for tuples!

TypeError: 'tuple' object does not support item assignment

In [239]:
a.append(False)
a

[1, 2, True, False]

In [240]:
a.remove(False)
a

[1, 2, True]

In [241]:
a.remove('Такого нету')

ValueError: list.remove(x): x not in list

In [242]:
last_a = a.pop() # takes the last element, deletes it but returnes to you
print(last_a)
print(a)

True
[1, 2]

In [243]:
a.extend(a) # adds to the list elements from another list
a

[1, 2, 1, 2]

In [244]:
a.sort()
a

[1, 1, 2, 2]

In [245]:
a.insert(1, 'New element') # inserts to a certain position
a

[1, 'New element', 1, 2, 2]

Last one, ve-ery useful method if `join`. It takes a string object and concatenates collection of strings with this string as a 'glue'

In [249]:
words  = ('one', 'two', 'three')
''.join(words)

'onetwothree'

In [253]:
'---'.join(words)

'one---two---three'

### Set (множество)

Collection of unique elements

In [329]:
a = (1, 2, 2, 3)
a = set(a)
a

{1, 2, 3}

In [330]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [331]:
b = (1, 3, True)
b = set(b)
b # Wow! Why so? Where is the `True`?

{1, 3}

In [332]:
id(True) == id(1) # This is different `physical` objects in your memory.

False

In [333]:
True == 1 # However, thay are equal in terms of `==`. Thus `set` uses `==` to select objects.

True

In [334]:
print(f'{a - b = }')
print(f'{b - a = }')
print(f'{a.union(b) = }')
print(f'{a | b = }') # union
print(f'{a.intersection(b) = }')
print(f'{a & b = }') # intersection

a - b = {2}
b - a = set()
a.union(b) = {1, 2, 3}
a | b = {1, 2, 3}
a.intersection(b) = {1, 3}
a & b = {1, 3}

In [272]:
a.add(10)
a

{1, 2, 3, 10}

In [273]:
a.discard(10)
a

{1, 2, 3}

In [275]:
a.discard(100) # don't throws an Error if element is already absent
a

{1, 2, 3}

In [276]:
a.clear()
a

set()

### Dict (словарь)

Collection with keys instead of indicies (you may now him as a hash-map)


Dict keys should be of immutable type!

In [288]:
students_marks = {'Vasya': 5,
                  'Olya': 4,
                  'Jim': [5, 4, 3]
                  }

In [290]:
students_marks

{'Vasya': 5, 'Olya': 4, 'Jim': [5, 4, 3]}

In [292]:
{[5, 4, 3]: 'Jim'} # key can't be mutable!

TypeError: unhashable type: 'list'

In [294]:
students_marks['Olya'] # by key

4

In [297]:
students_marks[1] # no indexing at all (thinks `1` is a key)

KeyError: 1

In [299]:
students_marks['Olya'] = 5 # values can be changed
students_marks['Vasya'] +=1
students_marks

{'Vasya': 7, 'Olya': 5, 'Jim': [5, 4, 3]}

In [301]:
students_marks['Andrey'] = 10 # new entry
students_marks

{'Vasya': 7, 'Olya': 5, 'Jim': [5, 4, 3], 'Andrey': 10}

In [302]:
students_marks_2 = students_marks.copy()
students_marks_2

{'Vasya': 7, 'Olya': 5, 'Jim': [5, 4, 3], 'Andrey': 10}

In [304]:
students_marks.clear()
students_marks

{}

In [306]:
students_marks_2['Ken'] # with no key makes Error

KeyError: 'Ken'

In [309]:
print(students_marks_2.get('Ken')) # such way produces None instead of Error

None

In [312]:
students_marks_2.setdefault('Oleg') # If no, creates with None (or other passed value). If yes, returns it.
students_marks_2

{'Vasya': 7, 'Olya': 5, 'Jim': [5, 4, 3], 'Andrey': 10, 'Oleg': None}

In [316]:
students_marks_2.setdefault('Dima', 2) # If no, creates with None (or other passed value). If yes, returns it.

2

In [318]:
students_marks_2

{'Vasya': 7,
 'Olya': 5,
 'Jim': [5, 4, 3],
 'Andrey': 10,
 'Oleg': None,
 'Dima': 2}

In [319]:
students_marks_2.keys()

dict_keys(['Vasya', 'Olya', 'Jim', 'Andrey', 'Oleg', 'Dima'])

In [321]:
students_marks_2.values()

dict_values([7, 5, [5, 4, 3], 10, None, 2])

In [323]:
students_marks_2.items()

dict_items([('Vasya', 7), ('Olya', 5), ('Jim', [5, 4, 3]), ('Andrey', 10), ('Oleg', None), ('Dima', 2)])

In [324]:
a = students_marks_2.keys()
print(a)
del students_marks_2['Jim']
print(students_marks_2)
print(a) # we have not touched the `a`, but it still tracks what happens with the parent dict

dict_keys(['Vasya', 'Olya', 'Jim', 'Andrey', 'Oleg', 'Dima'])
{'Vasya': 7, 'Olya': 5, 'Andrey': 10, 'Oleg': None, 'Dima': 2}
dict_keys(['Vasya', 'Olya', 'Andrey', 'Oleg', 'Dima'])

In [327]:
students_marks_2.update({'Mary': 3, 'Vasya': 5})
students_marks_2

{'Vasya': 5, 'Olya': 5, 'Andrey': 10, 'Oleg': None, 'Dima': 2, 'Mary': 3}